# REDIS CREDENTIALS
REDIS_USER=
REDIS_HOSTNAME=
REDIS_PASSWORD=
REDIS_PREFIX=
REDIS_PORT=

# OLLAMA CREDENTIALS
OLLAMA_1_BASE_URL=
OLLAMA_1_MAC=
OLLAMA_1_HOSTNAME=

# ADMIN KEY SECRETS
ADMIN_CREATE_KEY=true
ADMIN_HMAC=
ADMIN_API_KEY=
ADMIN_REQUIRE_GOOGLE_ID=false
ADMIN_REQUIRE_JWT=false
ADMIN_OWNER_EMAIL=
ADMIN_KEY_TYPE=User
ADMIN_CLIENT=Admin
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=

# JELAIME SECRETS
JELAIME_CREATE_KEY=true
JELAIME_HMAC=
JELAIME_API_KEY=
JELAIME_REQUIRE_GOOGLE_ID=true
JELAIME_REQUIRE_JWT=true
JELAIME_OWNER_EMAIL=
JELAIME_KEY_TYPE=Application
JELAIME_CLIENT=Jelaime

# POSTGRES CREDENTIALS
PG_HOSTNAME=
PG_USERNAME=
PG_PASSWORD=
PG_DATABASE=
PG_DIALECT=
PG_DRIVER=
PG_PORT=

# CREATE REQUIRED TABELS ON INITIALIZATION
CREATE_TABLES=true