# REDIS CREDENTIALS
REDIS_USER="INSERT REDIS USER"
REDIS_HOSTNAME="INSERT REDIS HOST"
REDIS_PASSWORD="INSERT REDIS PASSWORD"
REDIS_PREFIX="INSERT REDIS PREFIX"
REDIS_PORT="INSERT REDIS PORT"

# OLLAMA CREDENTIALS
OLLAMA_1_BASE_URL="INSERT OLLAMA 1 URL"
OLLAMA_1_MAC="INSERT OLLAMA 1 MAC"
OLLAMA_1_HOSTNAME="INSERT OLLAMA 1 HOSTNAME"