# REDIS CREDENTIALS
REDIS_USER=
REDIS_HOSTNAME=
REDIS_PASSWORD=
REDIS_PREFIX=
REDIS_PORT=

# OLLAMA CREDENTIALS
OLLAMA_1_BASE_URL=
OLLAMA_1_MAC=
OLLAMA_1_HOSTNAME=

# ADMIN KEY SECRETS
ADMIN_HMAC=
ADMIN_API_KEY=
ADMIN_REQUIRE_GOOGLE_ID=
ADMIN_REQUIRE_JWT=

# JELAIME SECRETS
JELAIME_HMAC=
JELAIME_API_KEY=
JELAIME_REQUIRE_GOOGLE_ID=
JELAIME_REQUIRE_JWT=