# VENV
venv/

# DOTENV
.env

# CACHE
__pycache__/

# UV Lockfile
uv.lock

# Test CURL file
curl_tests.txt

# Config files
configure_init_providers.json
configure_init_clients.json

# k82 manifests
secrets.yaml
deployment.yaml